h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 20px;
  }
body {
    background-image: url('https://mebincdn.themebin.com/1664271579476.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
  }
