body {
    background-image: url('https://mebincdn.themebin.com/1664271579476.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
